@media screen and (min-width: 576px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .alert-info {
        background-color: lightskyblue;
        border: .5em solid gray;
        align-self: center;
        width: 100%;
        text-align: center;

    }

    .nav-links > li {
        list-style-type: none;
        background-color: lightgrey;
        margin: .5em;
        text-align: center;
        width: 100%;
    }

    .nav-links > li > a {
        align-items: center;
    }


    .header-img {

    }


}
