
    body {
        display: flex;
        flex-direction: column;
    }

    .alert-info {
        background-color: lightskyblue;
        border: .1em solid gray;
        padding: .4em;
        align-self: center;
        width: 95%;
        text-align: center;
    }
    h1 {
        display: flex;
        justify-content: center;
        margin: .2em;
    }

    .alert-info > a {
        text-decoration: none;
        color: black;
        font-weight: normal;
    }

    ul{
        padding: 0;
        margin: 5px;
    }


    li {
        height: 50px;
        align-items: center;
        display: flex;
        list-style-type: none;
        background-color: lightgrey;
        justify-content: center;
        margin: 5px;
    }




    img {
        display: block;
        align-items: center;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        width: 90%;

    }





@media screen and (min-width: 768px) {

    .alert-info {
        display: none;
    }
    h1 {
        display: flex;
        justify-content: flex-start;
        margin: .2em;
        float: left;
    }

    .alert-info > a {
        text-decoration: none;
        color: black;
        font-weight: normal;
    }

    ul{
        display: flex;
        float: right;
        justify-content: flex-end;
        padding: 0;
        margin: 5px;
    }


    li {
        height: 50px;
        align-items: center;
        display: flex;
        list-style-type: none;
        background-color: white;
        justify-content: center;
        margin: 5px;
    }


    img {
        display: block;
        align-items: center;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }


}

