@media screen and (min-width: 320px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .alert-info {
        background-color: lightskyblue;
        border: .1em solid gray;
        padding: .4em;
        align-self: center;
        width: 100%;
        text-align: center;
    }

    .alert-info > #main {
        text-decoration: none;
    }

    .nav-links > li {
        list-style-type: none;
        background-color: lightgrey;
        margin: .5em;
        width: 100%;
    }

    ul > li {
        align-self: center;
        width: 100%;
        text-align: center;
    }


    .header-img {
        width: 300px;
    }

    img {
        width: 300px;
    }


}
